body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* #nav-bar {
    background-color: #00ff7f;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#Home, #Products, #Contacts, #About {
    font-size: 15px;
    font-family: serif;
    margin: 1px;
    margin-right: 6px;
    border-radius: 14px;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.6s, color 0.6s;
}

#Home:hover, #Products:hover, #Contacts:hover, #About:hover {
    background-color: #ffffff;
    border-color: #f3eded;
    border-width: 8px;
    color: #333; 
} */


/* #nav-bar li {
    display: inline-block;
    margin-right: 20px;
}

#nav-bar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 19px;
} 

.hidden {
    top: -60px;
} */

/* Styles for the cover section */
#cover {
    background-color: var(--contrast-shade);
    /* background: url('cover2.jpg') center/cover no-repeat; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 100px;
}

#cover h1 {
    font-size: 100px;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
    color: #003366; /* Dark blue for trust */
    background-color:var(--contrast-shade); /* Background color */
}


#cover .about-quote {
    color: #333;
    max-width: 350px;
    min-width: 350px;
    font-style: italic;
    background-color: #fff; /* Add white background to about-quote */
    padding: 20px; /* Add padding for better visibility */
    border-radius: 10px;
}

html {
    height:100%;
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
  }
  
  nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 20px 0;
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    /* Styles for tablets and smaller screens */
    #cover {
        padding: 50px;
    }

    #cover h1 {
        font-size: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #cover .about-quote {
        max-width: 100%;
        min-width: auto;
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    /* Styles for mobile devices */
    #nav-bar {
        padding: 5px;
    }

    #nav-bar li {
        margin-right: 10px;
    }

    #nav-bar li a{
        font-size: 12px;
    }

    #cover {
        padding: 30px;
    }

    #cover h1 {
        font-size: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #cover .about-quote {
        max-width: 200px;
        min-width: auto;
        max-height: 80px;
        font-size: 14px;
    }

    #cover h3{
        font-size: 12px;
    }
    #cover p{
        font-size: 8px;
    }
}